section.youtube
	.flex.flex--space-around 
		.col-1
			.video-strip

		.col-1.order-first
			p.home-lead.outdented ...teaching everyone how to make websites on YouTube...
			a(href="https://www.youtube.com/").home-cta Watch on youtube