.home-cta
	font-size: 28px
	display: block
	background: white
	text-align: center
	padding: .6em 0
	line-height: 1.25
	box-shadow: 0 4px 8px rgba(0,0,0,0.2)
	transition: all 0.15s ease-in-out

	&:hover
		box-shadow: 0 5px 14px rgba(0,0,0,.2)
